@import '../../../styles/styles';

/*
 * accordion styles
 *
 *****************************************************************************/

.accordion-item {
  h3 {
    margin: 0;
    button {
      @include line-height(24, 29);
      @include font-size(24);
      z-index: 0;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      border: 0;
      padding: 20px 14px;
      width: 100%;
      background-color: color(neutral, lightest);
      text-align: left;
      appearance: none;

      &:focus {
        z-index: 1;
      } // allows the full focus state border to be visible
      &[data-expanded='true'] & {
        transform: rotate(180deg);
      }
      > svg {
        width: 14px;
        height: 14px;
        transition: .2s ease-in-out;
      }
      .arrow-up {
        transform: rotate(180deg);
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .window {
    margin: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: .2s all ease-in-out;
    &[data-expanded='true'] {
      visibility: visible;
      transition: .2s all ease-in-out;
    }
  }

  .content {
    padding: 20px 14px;
  }

  :nth-child(1) {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}
