.button-base{
    outline:none;
    border:none;
    background:none;
    text-transform: uppercase;
    letter-spacing: .08em;
    padding:var(--spacer);
    border-radius: var(--rounded-border-small);
    border-style: solid;
    border-width:2px;
    &:hover{
        cursor:pointer;
    }
    :focus{
        outline:none;
    }
}
