@import '../../../styles/styles';

.bread-crumbs {
  ol {
    list-style: none;
    li {
      display: inline;
      &:not(:last-of-type) {
        &::after {
          content: ' / ';
        }
      }
    }
  }
}
