@import '../../../styles/styles';

.notification {
  display: flex;
  justify-content: space-between;
  border: 1px solid color(neutral, lighter);
  padding: $small-spacing;
  width: 100%;

  button {
    margin-left: $base-spacing;
    font-weight: bold;
    &:hover {
      cursor: pointer;
    }
  }


  &[data-type='success'] {
    $success: color(success, base);
    background-color: rgba($success, .4);
  }

  &[data-type='info'] {
    $info: color(secondary, base);
    background-color: rgba($info, .4);
  }

  &[data-type='warning'] {
    $warning: color(warning,base);
    background-color: rgba($warning, .4);
  }

  &[data-type='error'] {
    $error: color(primary, base);
    background-color: rgba($error, .4);
  }
}
