@import '../../styles/styles';


.card {
  box-shadow: $box-shadow-default;
  padding: $base-spacing;
  background-color: color(default, light);
}

.error {
  @include font-size(16);
  margin: 8px auto 0;
  color: color(primary, base);
}
